body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header { 
    background-color: blue;
    height: 200px;
}

.to-do {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 20px;
    gap: 10px;
    border: 1px solid black;
}

.todo-title {
    font-weight: bold;
}